h1{
    color:blueviolet;
    font-family: "impact";
    text-align: center; 
    background-color: yellow;
}

p{
    font-size: 25px;
    font-weight: bold;
}

body{
    background-image: url("../images/02.jpg")
        
   
}