h1.siba{
   background-color: aqua;
    text-align: center;
    color: black;
}
h2.soccer{
    background-color: antiquewhite;
    color: aquamarine;
     text-align: center;
}
h2.kamera{
    background-color:aquamarine;
    color:gold;
     text-align: center;
}
h1.rinku{
     background-color:bisque;
    color:brown;
     text-align: center;
}
body{
    background-color: azure;
    background-attachment: fixed
}
